.DS_Store
echo ".DS_Store" >> ~/.gitignore_global
echo "._.DS_Store" >> ~/.gitignore_global
echo "**/.DS_Store" >> ~/.gitignore_global
echo "**/._.DS_Store" >> ~/.gitignore_global
echo "Code/PROJECT XYZ/Platforms/Windows/.vs/" >> ~/.gitignore_global
git config --global core.excludesfile ~/.gitignore_global
